<cdk-virtual-scroll-viewport class="viewport" itemSize="10">
    <mat-list>
        <ng-container *cdkVirtualFor="let guest of guests | async">
        <mat-list-item>
            <div matListItemTitle>{{guest.firstName}} {{guest.lastName}}</div>
            <div matListItemLine>סטטוס הזמנה -- {{rsvpStatus(guest.status)}}</div>
            <mat-checkbox [checked]=" guest.status==null" color="primary">לשלוח מחדש?</mat-checkbox>
            </mat-list-item>
        </ng-container>
    </mat-list>
</cdk-virtual-scroll-viewport>

<button mat-raised-button color="primary" (click)="sendTextsToAll()">SEND TEXTS TO ALL</button>
<button mat-raised-button color="primary" (click)="sendTextsToSelected()">SEND TEXTS TO SELECTED</button>