<cdk-virtual-scroll-viewport class="viewport" itemSize="10">
    <div id="controlPane">
        <div>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="filterValues($event)" placeholder="חיפוש כללי" #input />
            </mat-form-field>
            <mat-slide-toggle (change)="filterNotResponded($event)">עדיין לא הגיבו</mat-slide-toggle>
            <mat-slide-toggle (change)="filterNotReceived($event)">לא קיבלו הודעה</mat-slide-toggle>
        </div>
        <div>
            <p class="counter">סך הכל מוזמנים: {{totalGuestsCount}}</p>
            <p class="counter">אישרו הגעה: {{attendingGuestsCount}}</p>
        </div>
    </div>
    <table mat-table fixedLayout [dataSource]="dataSource" multiTemplateDataRows matSort>
        <!-- recipient full name -->
        <ng-container matColumnDef="recipient">
            <th mat-header-cell *matHeaderCellDef> שם המוזמן </th>
            <td mat-cell *matCellDef="let element"> {{element.recipient}} </td>
        </ng-container>

        <!-- recipient phone number -->
        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> טלפון </th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>

        <!-- button to open whatsapp tab with recipient and message -->
        <ng-container matColumnDef="linkCreator">
            <th mat-header-cell *matHeaderCellDef> לחצו לשליחה לווצפ </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="sendTextsToSelected(element)">
                    לחצו
                </button>
            </td>
        </ng-container>

        <!-- button to only copy the message to the clipboard -->
        <ng-container matColumnDef="copyCreator">
            <th mat-header-cell *matHeaderCellDef> לחצו ליצירת הודעה </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="copyToClipboard(element)">
                    רק העתקה
                </button>
            </td>
        </ng-container>

        <!-- recipient status -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> סטטוס אישור </th>
            <td mat-cell *matCellDef="let element"> {{rsvpStatus(element.status)}} </td>
        </ng-container>

        <!-- recipient attending count -->
        <ng-container matColumnDef="attendingCount">
            <th mat-header-cell *matHeaderCellDef> כמות מאשרים </th>
            <td mat-cell *matCellDef="let element"> {{element.attendingCount}} </td>
        </ng-container>

        <!-- recipient side (groom or bride) -->
        <ng-container matColumnDef="side">
            <th mat-header-cell *matHeaderCellDef> צד </th>
            <td mat-cell *matCellDef="let element"> {{element.side}} </td>
        </ng-container>

        <!-- recipient group type (family, friends) -->
        <ng-container matColumnDef="_group">
            <th mat-header-cell *matHeaderCellDef> קבוצה </th>
            <td mat-cell *matCellDef="let element"> {{element._group}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No records found.</td>
        </tr>
    </table>
</cdk-virtual-scroll-viewport>